{% load static %}
<div class="container">
  <h2 class="text-center cap">about us</h2>
  <div class="row justify-content-center">
      <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6 order-1">
          <div class="aboutn">
              <img src="{% static '' %}img/ryan-ancill-aJYO8JmVodY-unsplash.jpg" alt="">
          </div>
      </div>
      <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6 order-0">
          <div class="text-danger aboutnn">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt fugit illo a odit maxime eligendi cumque 
              perspiciatis neque eius in.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt fugit illo a odit maxime eligendi cumque 
              perspiciatis neque eius in.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt fugit illo a odit maxime eligendi cumque 
              perspiciatis neque eius in.</p>
          </div>
      </div>
  </div>
</div>