{% load static %}
<div class="container-fluid">
  {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
          <strong>{{message}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
  {% endif %}
  <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner" style="height: 80vh">
      <div class="carousel-item h-100 active" data-bs-interval="10000">
        <img src="{% static '' %}img/jason-wang-NxAwryAbtIw-unsplash.jpg" class="d-block w-100 h-100" alt="...">
        <div class="dende"></div>
        <div class="carousel-caption d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item h-100" data-bs-interval="2000">
        <img src="{% static '' %}img/nathan-oakley-gj1dnc7yRG0-unsplash.jpg" class="d-block w-100 h-100" alt="...">
        <div class="dende"></div>
        <div class="carousel-caption d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img src="{% static '' %}img/minh-pham-OtXADkUh3-I-unsplash.jpg" class="d-block w-100 h-100" alt="...">
        <div class="dende"></div>
        <div class="carousel-caption d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="visually-hidden">Previous</span>
      <i class="fas fa-chevron-left"></i>
      
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="visually-hidden">Next</span>
      <i class="fas fa-chevron-right"></i>
    </button>
 
  <!-- header -->
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/index.html">Voltage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <p id="About"><a class="nav-link" href="{% url 'products' %}">Product</a></p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'displaycart' %}"></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Brand
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'displaycart' %}">Shopcart
              {% if cartread > 0 %}
                <span class="badge rounded-pill bg-warning text-dark">{{cartread}}</span>     
              {% else %}
                <span class="badge rounded-pill bg-warning text-dark">0</span>
              {% endif %}
            </a></li> 
            {% if user.is_authenticted %}
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'displaycart' %}">Shopcart</a></li>
              <li><a class="dropdown-item" href="{% url 'signin' %}">Signin</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'signout' %}">Signout</a></li>
              <li><a class="dropdown-item" href="{% url 'signup' %}">Signup</a></li>
            {% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <p id="#contact"><a class="nav-link" href="#contact">Contact</a></p>
        </li>
      </ul>
      <form class="d-flex me-3">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="toggle">
        <!-- <i class="fas fa-sun"></i> -->
      <i class="fas fa-moon"></i>
    </div>
    </div>
  </div>
</nav>

</div>
</div>
<!-- header done -->