{% extends "base.html" %}

{% block title %}  | {{details.name|title}} Details  {% endblock title %}

{% block carousel %} {% include "carousel.html" %}  {% endblock carousel %}

{% block content %}

<div class="container mb-5">
    <h3 class="cap">Clark details</h3>
    <div class="row justify-content-center justify-content-md-around justify-content-lg-center text-warning gy-5">
        <div class="col-10 col-sm-10 col-md-2 col-lg-2 col-xl-2 d-none d-md-block"></div>
        <div class="col-10 col-sm-10 col-md-8 col-lg-8 col-xl-8">
            <div class="card">
                <img src="{{detail.img.url}}" class="card-img-top  text-center img h-50">
                <div class="card-body">
                <h5 class="card-title">Product: {{detail.name}}</h5>
                <p class="card-text">Price: {{detail.price}}</p>
                <p class="card-text text-truncate"> Description: {{detail.description}}</p>
                <form action="{% url 'shopcart' %}" method="POST">
                {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{detail.id}}">
                    <input type="number" name="quantity" value="1" min="{{detail.min_quantity}}" max="{{detail.max_quantity}}" class="form-control shadow-none my-4 border-warning" style="width: 60px">
                    <button type="submit" class="btn btn-danger text-white w-25">Add to Cart</button>
                </form>
                </div>
            </div>
        </div>

        <div class="col-10 col-sm-10 col-md-2 col-lg-2 col-xl-2"></div>
    </div>
    </div>
</div>

{% endblock content %}

{% block footer %}  {% include "footer.html" %}  {% endblock footer %}